nav {
  display: flex;
  padding: 1.5rem;
  justify-content: space-around;
}
nav a {
  color: black;
}
.appbar {
  background-color: #e7e7e7;
}
.topbar {
  margin: 1rem;
  /* background-color: #131921; */
  /* color: white; */
  display: flex;
  justify-content: space-between;
}
.logreg {
  display: flex;
}
.searchbar {
  display: flex;
}
.loginpage {
  margin: 5rem;
}
